name: krypt-vault

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    env_file: .env

  caddy:
    image: caddy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - server

  postgres:
    image: postgres:16
    container_name: krypt-vault-postgres
    environment:
      POSTGRES_DB: krypt-vault
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password # CHANGE THIS if not already set
    volumes:
      - krypt-vault_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: krypt-vault-minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123 # CHANGE THIS if not already set
    command: server /data --console-address ":9001"
    volumes:
      - krypt-vault_minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped

volumes:
  krypt-vault_postgres_data:
  krypt-vault_minio_data:
  caddy_data:
  caddy_config: