DATABASE_URL=postgresql://postgres:password@localhost:5543/krypt-vault
BETTER_AUTH_SECRET=CnXWeSk0NixazHVbEgvsznOWjIhQpfsl
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123
AWS_REGION=us-east-1
AWS_S3_ENDPOINT=http://localhost:9200
AWS_S3_BUCKET=krypt-vault-files

SERVER_PUBLIC_KEY=eh2YMOypPsimGK22Qe/Aeycl7q6hJp4q7TGNrvedOyY=
SERVER_PRIVATE_KEY=WdOive1l1Lu3XnzvTgBDIvnJW1mXlpfs9I0MgZqdQyU=

NODE_ENV=development